view,
navigator,
image {
	box-sizing: border-box;
}

.pl5 {
	padding-left: 5px;
}

input {
	text-indent: 0px !important;
	padding: 0px !important;
}

.st {
	font-family: "SimSun";
}

.dsf_dsdfg {
	width: 13px;
	height: 21px;
	background-position: -22px -305px;
}

p {
	margin: 0;
}

.ye {
	color: #E6B257 !important
}

.fz12 {
	font-size: 12upx;
}

.fz14 {
	font-size: 14upx;
}

.fz16 {
	font-size: 16upx;
}

.fz18 {
	font-size: 18upx;
}

.fz20 {
	font-size: 20upx;
}

.fz22 {
	font-size: 22upx;
}

.fz24 {
	font-size: 24upx;
}

.fz26 {
	font-size: 26upx;
}

.fz28 {
	font-size: 28upx;
}

.fz30 {
	font-size: 30upx;
}

.fz19 {
	font-size: 24upx;
}

.fz21 {
	font-size: 24upx;
}

.fz23 {
	font-size: 24upx;
}

.fz25 {
	font-size: 24upx;
}

.fz27 {
	font-size: 24upx;
}

.fz29 {
	font-size: 29upx;
}

.fz31 {
	font-size: 31upx;
}

.fz32 {
	font-size: 32upx;
}

.fz33 {
	font-size: 33upx;
}

.fz34 {
	font-size: 34upx;
}

.fz35 {
	font-size: 35upx;
}

.fz36 {
	font-size: 36upx;
}

.fz37 {
	font-size: 37upx;
}

.fz38 {
	font-size: 38upx;
}

.fz39 {
	font-size: 39upx;
}

.fz40 {
	font-size: 40upx !important;
}

.fz48 {
	font-size: 48upx !important;
}

.fz50 {
	font-size: 50upx !important;
}

.fz60 {
	font-size: 60upx !important;
}

.fz70 {
	font-size: 70upx !important;
}

body,
html {
	font-family: 'Microsoft Yahei';
}

.f_i {
	display: inline-block;
	background: url("");
	background-size: 360px;
}

.f_b {
	display: inline-block;
}

.bghs {
	background: #F79729 !important;
	border: 1px solid #F79729 !important;
	color: #fff;
}

.bghser {
	background: #BCC0C3 !important;
	border: 1px solid #BCC0C3 !important;
}

.bgbs {
	background: #fff;
}

.bge3 {
	background: #e3f3fb;
}

.au {
	margin-left: auto;
	margin-right: auto;
}

.mr5 {
	margin-right: 5px;
}

.mr10 {
	margin-right: 10px;
}

.mr20 {
	margin-right: 20px;
}

.mr30 {
	margin-right: 30px;
}

.mr40 {
	margin-right: 40px;
}

.mr50 {
	margin-right: 50px;
}

.mr60 {
	margin-right: 60px;
}

.dian {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.dianer {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.diansan {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.dianwu {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}

.bgff {
	background: #fff !important;
}

.box {
	display: -webkit-box !important;
	display: -moz-box !important;
	display: -ms-box !important;
	display: -o-box !important;
	display: box !important;
}

.w100 {
	width: 100%;
}

.h100 {
	height: 100%;
}

.br0 {
	border: 0 !important;
}

.br {
	border: 1px solid #eaeaea !important;
}

.bglscf {
	background: #32cc00;
	color: #fff;
}

.box_a {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	-moz-o-flex: 1;
	box-flex: 1;
	display: block;
}

.fz17 {
	font-size: 17px;
}

.box_b {
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	-ms-box-flex: 2;
	-moz-o-flex: 2;
	box-flex: 2;
}

.box_c {
	-webkit-box-flex: 3;
	-moz-box-flex: 3;
	-ms-box-flex: 3;
	-moz-o-flex: 3;
	box-flex: 3;
}

.box_d {
	-webkit-box-flex: 4;
	-moz-box-flex: 4;
	-ms-box-flex: 4;
	-moz-o-flex: 4;
	box-flex: 4;
}

.ma {
	margin: auto;
}

.xz_po_a a {
	color: #575757;
}

.page input[type="button"] {
	min-height: 38px;
}

.yj4 {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.yj {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.yj30 {
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
}

.bkbs {
	border: 1px solid #d6d6db;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.yj20 {
	border-radius: 20px;
}

.pd {
	padding-left: 20rpx;
	padding-right: 20rpx;
}

.auo {
	margin: auto;
}

.mt140 {
	margin-top: 140px;
}

input {
	text-indent: 0upx !important;
}

.wd {
	width: 920px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 10;
}

.wd1 {
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 10;
}

.mwd {
	min-width: 1100px;
}

.red {
	color: #F86194 !important
}

.wc {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 10;
}

.footer a {
	margin-right: 10px;
	padding-left: 10px;
	color: #c6c7c8;
}

.footer {
	border: 0;
	min-width: 1200px;
	background: #2e3643;
	color: #c6c7c8;
	font-size: 14px;
}

.ov {
	overflow: hidden;
}

.footer a:hover {
	color: #f0ff00;
	border: 0;
}

em {
	font-size: 20px;
	margin-right: 6px;
	position: relative;
	top: 8px;
}

.tm5 {
	filter: alpha(opacity=50);
	opacity: 0.5;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
}

.tr {
	text-align: right;
}

.tl {
	text-align: left;
}

.gun_title {
	padding-left: 25px;
}

.mt0 {
	margin-top: 0 !important;
}

.mt5 {
	margin-top: 5upx !important;
}

.mt10 {
	margin-top: 10upx !important;
}

.mt15 {
	margin-top: 15upx !important;
}

.mt20 {
	margin-top: 20upx !important;
}

.mt30 {
	margin-top: 30upx !important;
}

.mt40 {
	margin-top: 40upx !important;
}

.mt50 {
	margin-top: 50upx !important;
}

.mt60 {
	margin-top: 60upx !important;
}

.mt70 {
	margin-top: 70upx !important;
}

.mt80 {
	margin-top: 80upx !important;
}

.mt90 {
	margin-top: 90upx !important;
}

.mt100 {
	margin-top: 100upx !important;
}

.b {
	font-weight: 900;
}

.pr {
	position: relative;
	z-index: 10;
}

.pr20 {
	padding-right: 20upx;
}

.pr30 {
	padding-right: 30upx;
}

.pr10 {
	padding-right: 10upx;
}

.mt70 {
	margin-top: 140upx;
}

.mt80 {
	margin-top: 160upx;
}

.mt90 {
	margin-top: 180upx;
}

.mt100 {
	margin-top: 200upx;
}

.mt200 {
	margin-top: 400upx;
}

.mt180 {
	margin-top: 360upx;
}

.mt110 {
	margin-top: 220upx;
}

.mt120 {
	margin-top: 240upx;
}

.mt130 {
	margin-top: 260upx;
}

.ml10 {
	margin-left: 20upx;
}

.ml100 {
	margin-left: 100upx;
}

.ml5 {
	margin-left: 10upx;
}

.pr40 {
	padding-right: 80upx;
}

.bgred {
	background: #CC0001;
	color: #fff;
}

.cz {
	vertical-align: middle !important;
}

.c57 {
	color: #575757;
}

.ml20 {
	margin-left: 40upx;
}

.ml30 {
	margin-left: 60upx;
}

.ml40 {
	margin-left: 40upx;
}

.ml50 {
	margin-left: 50upx;
}

.ml60 {
	margin-left: 60upx;
}

.ml70 {
	margin-left: 70upx;
}

.ml80 {
	margin-left: 80upx;
}

.ml100 {
	margin-left: 100upx;
}

.ml90 {
	margin-left: 90upx;
}

.ml110 {
	margin-left: 110upx;
}

.ml120 {
	margin-left: 120upx;
}

.ptm {
	padding: 100px 0;
}

.pt10 {
	padding-top: 10upx;
}

.pt15 {
	padding-top: 15upx;
}

.bgye {
	background: #f5c813;
}

.pl4 {
	padding-left: 4upx;
}

.pr5 {
	padding-right: 5upx;
}

.mb10 {
	margin-bottom: 10upx;
}

.mb20 {
	margin-bottom: 20upx;
}

.mb30 {
	margin-bottom: 30upx;
}

.mb40 {
	margin-bottom: 40upx;
}

.mb50 {
	margin-bottom: 50upx;
}

.mb70 {
	margin-bottom: 70upx;
}

.mb80 {
	margin-bottom: 80upx;
}

.mb90 {
	margin-bottom: 90upx;
}

.mb100 {
	margin-bottom: 100upx;
}

.pl0 {
	padding-left: 0 !important;
}

.pl10 {
	padding-left: 10upx;
}

.pl20 {
	padding-left: 20upx;
}

.pl30 {
	padding-left: 30upx;
}

.pl40 {
	padding-left: 40upx;
}

.pl50 {
	padding-left: 50upx;
}

.pl60 {
	padding-left: 60upx;
}

.pl70 {
	padding-left: 70upx;
}

.pl80 {
	padding-left: 80upx;
}

.pl90 {
	padding-left: 90upx;
}

.pl100 {
	padding-left: 100upx;
}

.pt10 {
	padding-top: 10upx;
}

.pt5 {
	padding-top: 5upx;
}

.pm5 {
	padding-bottom: 5upx;
}

.pm15 {
	padding-bottom: 15upx;
}

.pt20 {
	padding-top: 20upx;
}

.pt30 {
	padding-top: 30upx;
}

.pt40 {
	padding-top: 40upx;
}

.pt50 {
	padding-top: 50upx;
}

.pt60 {
	padding-top: 60upx;
}

.pt70 {
	padding-top: 70upx;
}

.pt80 {
	padding-top: 80upx;
}

.pt90 {
	padding-top: 90upx;
}

.pt100 {
	padding-top: 100upx;
}

.pt110 {
	padding-top: 110upx;
}

.pt120 {
	padding-top: 120upx;
}

.pt130 {
	padding-top: 130upx;
}

.pt140 {
	padding-top: 140upx;
}

.pt150 {
	padding-top: 150upx;
}

.pt160 {
	padding-top: 160upx;
}

.pm10 {
	padding-bottom: 10upx;
}

.pm20 {
	padding-bottom: 20upx;
}

.pm30 {
	padding-bottom: 30upx;
}

.pm40 {
	padding-bottom: 40upx;
}

.pm50 {
	padding-bottom: 50upx;
}

.pm70 {
	padding-bottom: 70upx;
}

.pm60 {
	padding-bottom: 60upx;
}

.pm80 {
	padding-bottom: 80upx;
}

.pm90 {
	padding-bottom: 90upx;
}

.pm100 {
	padding-bottom: 100upx;
}

.pm110 {
	padding-bottom: 110upx;
}

.pm120 {
	padding-bottom: 120upx;
}

input,
textarea {
	text-indent: 10upx;
}

.show {
	display: block !important;
}

.cf {
	color: #fff !important;
}

.pr60 {
	padding-right: 60upx;
}

.bbm {
	border-bottom: 1px solid #E5E5E5;
}

.z2a {
	color: #2a2a2a;
}

.btm {
	border-top: 1px solid #E5E5E5;
}

.brm {
	border-right: 1px solid #E5E5E5;
}

.blm {
	border-left: 1px solid #E5E5E5;
}

.z6 {
	color: #666;
}

.z9 {
	color: #999;
}

.z0 {
	color: #000;
}

.zd {
	color: #555;
}

.gd {
	transition: all linear 5s;
}

.cen {
	text-align: center;
}

.cr {
	text-align: right;
}

.qc {
	clear: both;
}

.ls {
	color: #1f2e7f;
}



ul {
	list-style: none;
}

.bgls {
	background: #4cb5ab !important;
	border: 1px solid #4cb5ab !important;
	color: #fff;
}

.zc {
	color: #b2b2b2 !important;
}

.zb {
	color: #818181 !important;
}

.za {
	color: #231815 !important;
}



.bm {
	border-bottom: 3px solid #0b408c;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.hs {
	color: #ed798e !important;
}






.cls_2 {
	width: 50%;
	float: left
}

.cls_3 {
	width: 33.3%;
	float: left
}

.cls_4 {
	width: 25%;
	float: left
}

.cls_5 {
	width: 20%;
	float: left
}




.cz_w {
	display: table !important;
}

.cz_a {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.dx_row:after {
	content: ' ';
	display: block;
	clear: both;
}

.dx_col_3 {
	width: 12.5%;
	float: left;

}

.dx_col_4 {
	width: 16.66667%;
	float: left;

}

.dx_col_5 {
	width: 20.83333%;
	float: left;

}

.dx_col_6 {
	width: 25%;
	float: left;

}

.dx_col_7 {
	width: 29.16667%;
	float: left;

}

.dx_col_8 {
	width: 33.33333%;
	float: left;

}

.dx_col_9 {
	width: 37.5%;
	float: left;

}

.dx_col_10 {
	width: 41.66667%;
	float: left;

}

.dx_col_11 {
	width: 45.83333%;
	float: left;

}

.dx_col_12 {
	width: 50%;
	float: left;

}

.dx_col_13 {
	width: 54.16667%;
	float: left;

}

.dx_col_14 {
	width: 58.33333%;
	float: left;

}

.dx_col_15 {
	width: 62.5%;
	float: left;

}

.dx_col_16 {
	width: 66.66667%;
	float: left;

}

.dx_col_17 {
	width: 70.83333%;
	float: left;

}

.dx_col_18 {
	width: 75%;
	float: left;

}

.dx_col_19 {
	width: 79.16667%;
	float: left;

}

.dx_col_20 {
	width: 83.33333%;
	float: left;

}

.dx_col_21 {
	width: 87.5%;
	float: left;

}

.dx_col_22 {
	width: 91.66667%;
	float: left;

}

.dx_col_23 {
	width: 95.83333%;
	float: left;

}

.dx_col_24 {
	width: 100%;
	float: left;

}
