
@font-face {
    font-family: "dx";
	src:url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAYgAAsAAAAAC1QAAAXTAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDSAqJOIdqATYCJAMYCw4ABCAFhG0HZRutCREVpK2S/UiMbR9kmeJFT9hJ1OTD05m9P2oyM4GWcrIVkG2dFFxWSrewLzgxPTsBsDjnFNoLE6FGcvaACm1HKWyc5nj8vcpZtjE2z77F5b3MMWjRoHBoAgVodW9aVC2XWrECaVVkcymiWrjL3UAA8PBDDEhJWU0LJGDgawgaJo4bMwyShhXMBIdAYuAGzmRANoKFhFpDPQWwIft98g2SiASgwNLw79UwunQkCpzit0too8uIgfQyGLfnBqCeB9AAYgAwAFk46J0NulDHZFp+6C8wqAIgQgIKjFN0+jiDncO+XeJyoaH0gwRi4AHoNf95IGABwoG0Img1ORZwihEBNOD0IYACnMEEMIBzGAEE+HZJB1gAALfFPbQAmQtQFCR6DNRMoGalNbQYIIo6P1EZk35FUabQyD38pR5zrJ97dH2hd7zx7nb2s1pNdsOR11Ht7W4dHe53mh0Os01vuRW5bZtuq/bwy9FWa4vNpnc4Wu32vvftQfsc5fdsgbutC+xOg/XzftM2XYzHTB3uOHq+402r7Qu90dqw127oPUPsCl7q2nEqEuGA1/YRDMzFHbyZjTsdrc/05ifRNhue7v3VJ8lNj6+fJmzbmRtPBJnZYjzMi2df+jDGHZZzguLCW/5sW6/ZomOMJ68+HM+bjjTc7sI2hlsvttsy9mALjulvau/ucR/TcW6HduTWCXtsR5enXt7a400OAOsb0QKjRVCYewkxHOJ1B5que/F7bKUPHMF859XBpoPdbT2HhAMbKQ8ResjO12nHcd0uzwWig+y1l5y1ArutJbzpKqiuaxu47gv/AT07j1+eSbcJAsWb2mf03XqYl9N72UL2pR+65Wts2Wo5pNemdr3RUCpNkVpqVdvUKmmRhqiaO2sKdlft311RU3RI2a9kXIpmXsjIgqrifdXnQ5Res+NOZcg8TaWlnBroVYlBQ0kZqRw6KD6SDBpCyknZ0CFlwQnFJRp1pE7I1qtVxaUoIEb27YCAt0nFKghPxqwhD5rKVIFF6QfzLmN/TlHq9NSGigH3cjGTuctxd4WKAcKVhpTs+2hq9bLWlMohwcQwfbqB6AlKKQM1OatfytDaoR+W7k9qI0V9WwtJgMhEipSSvn0LUQh82spq5G0andWvDCG/7x+Vmb8x+MbWtINbUvDHElXgxe/NgdsCzd9fDHwtD/IJkr/eOEe6TfvZlTytqlCP6HrUshFTbsmM+8qWwJf3Xwb6BM26X5Va5FXtIVntqbp7/N/Dg0YrFU8rlz1TKDvhWtKfzJlL+rUzJ5OKo0LXSaYdqHVs/8JZVE8PNas9vyVaPUdtiFTR5ZHt1KyenlmbvJOFAq6ivKEB340rEJK9WsSsM+5nskTl6JAxyuHL3MUnN28+EbkZSN0cLlUXpvg2G1rs0cXJ2dLKppWzvWf7rBD1PutCF42sXJ7W+9bSH+QraLrWXEtU/++pWB5bIMf6GsXg6ajNlugaTiLDu7nOS5WinoCF8LfSP1K7AZeRIbQx49K36WX8r2kD7Za30nfopL/DXtidX6gZosj5TSL8RKbeHr3PQtL13mXAd1oHtuzL38EAcLkYoikkG8dY/SMpy89h0BcmTQHggzHgKx9U48Nt6XVsLf5del0FFPrAF2hIEEJiaDHAQkAKcJAgH3hEo/x8ARpMBw3CSAFEYYUAAiVOAAU5bgANJZ6RGNoHwMIN3wEHJaGBh4ForiggjEjGhWvCkrGB6gemnkYZOjjMG6+oXn1JdUXGeyJZk4A0StqFPY5I2zjGvlXGLEHSNMBO3A/7foKZphZrjjTznMexHPqgqJ4GJ8SasGRsoPqBqadRJpM57Pz8FdWrL2miry3+RLJmdUijhEHaa0dW32Npt2+VMaUlSLV+GmBHbuyD7ATz8K4Wa470ivScxzRKcrXR/vXDo7wEwMN/AUcoQhOGsIQjfeDNK8fWjGp1WYvbcJJ4WSTRmxFF6g43I2a/N0xNGZm9pqn6hxbHAQA=') format('woff2')
}
.dx { 
    font-family: "dx" !important;
    font-size: 32upx;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-yanjing:before {
  content: "\e661";
}

.icon-LC_icon_user_line_1:before {
  content: "\e61c";
}

.icon-bianji:before {
  content: "\e60c";
}

.icon-lingdang:before {
  content: "\e623";
}

.icon-dianzan:before {
  content: "\ec7f";
}

